## A list is a Sequence Type

A <b>sequence type</b> that represent orered sets of objects indexed by non-negative integers.

Sometimes called a container â€” is simply an object that groups multiple elements into a single unit. Collections are used to store, retrieve, manipulate, and communicate aggregate data.

Are mutable.
A sequence of arbitrary objects.

In [3]:
myList = ["spam", 2.0, 5, [10,20]]
print(id(myList))
print(myList)

2160743562816
['spam', 2.0, 5, [10, 20]]

## Lists are mutable

In [9]:
myList[0] = "33"
print(id(myList))
print(myList)
myList[3][1] = "hooray"
print(myList[3])

2160743562816
['33', 33, 5, [10, 33]]
[10, 'hooray']

In [12]:
cheeses = ['Cheddar', 'Edam', 'Gouda']
print(id(cheeses))

cheeses = ['Swiss', 'Goat', 'Provolone']
print(id(cheeses))

2160743509504
2160743559232

## Traversing a list

In [18]:
for c in cheeses:
    print(c)
    
for i in range(len(cheeses)): #0, 1, 2....left inclusive
    print(cheeses[i])

Swiss
Goat
Provolone
Swiss
Goat
Provolone

## List operations

In [5]:
# The + operator concatenates lists:
a = [1, 2, 3]
b = [4, 5, 6]
c = a + b
print(c)

[1, 2, 3, 4, 5, 6]

In [6]:
# the operator * repeats a list a given number of times:
print([0] * 4)

print([1, 2, 3] * 3)

[0, 0, 0, 0]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [7]:
#The slice operator also works on lists:
t = ['a', 'b', 'c', 'd', 'e', 'f']
print(t[1:3]) #left-inclusive notation

print(t[:4])

print(t[3:])

['b', 'c']
['a', 'b', 'c', 'd']
['d', 'e', 'f']

## List methods

Most list methods are void; they modify the list and return None. If you accidentally
write t = t.sort(), you will be disappointed with the result.

In [8]:
t1 = ['a', 'b', 'c']
t2 = ['d', 'e']
t1.extend(t2)
print(t1)

['a', 'b', 'c', 'd', 'e']

In [9]:
t = ['d', 'c', 'e', 'b', 'a']
t.sort()
print(t)

['a', 'b', 'c', 'd', 'e']

## Deleting elements

In [10]:
t = ['a', 'b', 'c']
x = t.pop(1)
print(t)

print(x)

['a', 'c']
b

In [12]:
t = ['a', 'b', 'c']
del t[1]
print(t)

t = ['a', 'b', 'c', 'd', 'e', 'f']
del(t[1:5])
print(t)

['a', 'c']
['a', 'f']

In [13]:
t = ['a', 'b', 'c']
t.remove('b')
print(t)

['a', 'c']

## A Tuple is a Sequence Type

A <b>tuple</b> is a sequence of values much like a list. The values stored in a tuple can
be any type, and they are indexed by integers. The important difference is that
tuples are immutable.
<br>
Tuples are also comparable and hashable so we can sort lists
of them and use tuples as key values in Python dictionaries.
Syntactically, a tuple is a comma-separated list of values:

In [4]:
t = 'a', 'b', 'c', 'd', 'e'
t = ('a', 'b', 'c', 'd', 'e') #it is common to enclose tuples in parentheses
print(t)
print(type(t))

('a', 'b', 'c', 'd', 'e')
<class 'tuple'>

In [5]:
t1 = ('a',) #To create a tuple with a single element, you have to include the final comma:

## Tuple Assignment

In [1]:
price, quantity = (19.95, 12)
print(price, quantity)

19.95 12

## Returning Multiple Values with Tuples

In [4]:
def readDate():
    print("Enter a date")
    month = int(input(" month: "))
    day = int(input(" day: "))
    year = int(input(" year: "))
    return (month, day, year)

date = readDate()
print(date)

month, day, year = readDate()
print(f"{month}/{day}/{year}")

Enter a date
 month: 2
 day: 1
 year: 2022
(2, 1, 2022)
Enter a date
 month: 2
 day: 1
 year: 2022
2/1/2022