# Tuples

### Definition:

<b>Tuples are immutable</b> meaning that their values can not be changed.

A tuple is a sequence of values much like a list. The values stored in a tuple can
be any type, and they <b>are indexed by integers</b>. Tuples are also comparable and hashable so we can sort lists
of them and use tuples as key values in Python dictionaries. Syntactically, a tuple is a comma-separated list of values as seen below:

In [2]:
t = ('t', 'u', 'p', 'l', 'e', 's')

### Creating a Tuple:

To create a tuple with a single element, we need to include a final comma after the first element. Without the comma, Python reads 'a' as a string value.

In [3]:
t = ('a',)

In order to create an empty tuple, we use the built-in function tuple(). This creates an empty tuple printed as "()". You should avoid using tuple as a variable name given that it is used by the built-in function.

In [5]:
t = tuple()
print(t)

()

We can also create tuples where the argument is a sequence. This means that our argument is a string, list, or another tuple value. The example below passes in a string value as an argument and in turn the elements (or individual letters) of the sequence are printed.

In [6]:
t = tuple('tuple')
print(t)

('t', 'u', 'p', 'l', 'e')

### Printing Tuples:

Because tuples are indexed by integers, we can call each index and print each index. For example, if we wanted to print the first element of a tuple we would call the first index as seen below:

In [7]:
t = tuple('tuple')
print(t[0])

t

We can also print a range of elements as seen in the example below.

In [8]:
t = tuple('tuple')
print(t[0:3])

('t', 'u', 'p')

### Modifying Tuples:

It is important to note that we <b>can not modify the elements of a tuple.</b> This will produce a TypeError. Instead, we can replace one tuple with another. In the example below, we replaced the first tuple with a capital 'T'. Notice how the variable 't' was assigned to 'tuple' and then we re-assigned the variable to 'Tuple' with an uppercase 'T' as the first element.

In [9]:
t = tuple('tuple')
t = ('T',) + t[1:]
print(t)

('T', 'u', 'p', 'l', 'e')

We can also merge tuples togther with the + operator.

In [13]:
t = (4, 6, 2, 8, 3, 1) 
print(t)
t = t + (9,)
print(t)

(4, 6, 2, 8, 3, 1)
(4, 6, 2, 8, 3, 1, 9)

We can even add tuples at a specific index in another tuple. The example below shows a tuple being added at index 5 inside another tuple.

In [14]:
t = (4, 6, 2, 8, 3, 1) 
print(t)
t = t[:5] + (15, 20, 25)
print(t)

(4, 6, 2, 8, 3, 1)
(4, 6, 2, 8, 3, 15, 20, 25)

### Removing Items From a Tuple:

Remember, tuples are immutable so how do we remove elements from a tuple? The answer is to convert our tuple to a list, remove the item from the list, and then convert our list back to a tuple. In the example below, we remove the letter "c" from the tuple.

In [45]:
t = ('s', 'c', 'h', 'o', 'o', 'l')
print(t)
newList = list(t)
print(newList)
newList.remove('c')
print(newList)
newTuple = (*newList,)
print(newTuple)

('s', 'c', 'h', 'o', 'o', 'l')
['s', 'c', 'h', 'o', 'o', 'l']
['s', 'h', 'o', 'o', 'l']
('s', 'h', 'o', 'o', 'l')

Note: converting a list back to a tuple is tricky. There are many ways to do it. The first way is to use the tuple() function. The second way is to unpack the list into a tuple using newTuple = (*yourList,).

### Comparing Tuples:

<b>Tuples can be compared to eachother.</b> Python starts by comparing the first elements, if they are equal, it works its way to the next element. If the elements are different it determines which one is larger. In the example below, our output is true because t is less than t1 or 6 is less than 8.

In [28]:
t = (5, 6, 7)
t1 = (5, 8, 9)
print(t < t1)

True

### Tuple Functions:

<b><u>Decorate</u></b> a sequence by building a list of tuples with one or more sort keys
preceding the elements from the sequence. <br>
<b><u>Sort</u></b> the list of tuples using the Python built-in sort.<br>
<b><u>Undecorate</u></b> by extracting the sorted elements of the sequence.<br>

### Tuple Assignment:

One of the unique syntactic features of the Python language is the ability to have
a tuple on the left side of an assignment statement. This allows you to assign more
than one variable at a time when the left side is a sequence. The example below shows how multiple variables can be used to define a sequence.

In [32]:
myTuple = ['Yes', 'You', 'Can']
x, y, z = myTuple
print(x)
print(y)
print(z)

Yes
You
Can

<b><u>Note:</u></b> If you have too many variables on the left side assigned to your sequence tuple, you will recieve a ValueError.

### Dictionaries and Tuples:

Dictionaries have a method called items that allow us to return a list of tuples (ie key and value pairs). We use this method in order to sort dictionaries by key value.

In [35]:
newDictionary = {'Steve' : 80, 'Dan' : 65, "Bob" : 90, "Al" : 95}
myTuple = list(newDictionary.items())
myTuple.sort()
print(myTuple)

[('Al', 95), ('Bob', 90), ('Dan', 65), ('Steve', 80)]